In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
basepath = "/media/jonathan/JHON/Tesis/DatosTesis/Importantes_3erAvance/Trayectos_Periodo_Referencia2.csv"
data = pd.read_csv(basepath, sep=',')          


basepath = "/media/jonathan/JHON/Tesis/DatosTesis/Importantes_3erAvance/Trayectos_Periodo_Confinamiento1.csv"
data2 = pd.read_csv(basepath, sep=',')          

basepath = "/media/jonathan/JHON/Tesis/DatosTesis/Importantes_3erAvance/Trayectos_Periodo_Confinamiento2.csv"
data3 = pd.read_csv(basepath, sep=',')

In [3]:
print(data.shape)
print(data2.shape) 
print(data3.shape)

(768, 33759)
(1824, 32972)
(1464, 34353)

In [22]:
# data3.iloc[:5, 9000:12100]
data.head()

,Unnamed: 0,ds,19024-19024,19024-19046_AM,19024-19053_AM,19024-19058_AM,19024-19071_AM,19024-19086_AM,19024-1913001,19024-1913002,...,28023-28060_AM,28053-2801302,2805809-28087,28059-2801301,28087-28141,28089-19326_AM,28108-28066,28141-2801302,28150-28018,28177-28060_AM
0,0,2020-02-14 00:00:00,0.000,114.811,0.000,91.364,0.000,0.0,10.236,10.619,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2020-02-14 01:00:00,15.354,140.702,0.000,71.535,5.778,0.0,5.118,15.354,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2020-02-14 02:00:00,10.236,96.146,0.000,82.323,0.000,0.0,15.701,10.619,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2020-02-14 03:00:00,20.608,69.881,10.943,68.443,0.000,0.0,10.236,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2020-02-14 04:00:00,20.472,107.192,0.000,64.517,0.000,0.0,15.354,15.737,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0